body{
	background-color: #333333;
}

#menu1 a, #menu2 a{
	border-right: 1px solid #333333;

}

.navbar-inverse .navbar-toggle:hover {
    color: #fff;

}
a.navbar-brand:active {
	color: #fff;
}
a.navbar-brand:hover {
	color: #fff;
}


nav.navbar-inverse{
	border: none;
	background-color: #000;
	height: 40px;
	

}
button.btn{
	color: #fff;
	border-style: none;
	height: 40px;
}

div.col-md-4{
	margin-top: 20px;
}

.cuadro{
	background-color: #454545;
	height: 100px;
}
a{
	color: #fff;

}
