nav .contenido{
	margin-top: 20px;
	height: 60px;
	background-color: #A2D9FA;
	
}

section .container{
	margin-top: 20px;
	background-color: #4A9DE9;
	height: 150px;

}

aside .container div{
	margin-top: 10px;
	height: 350px;
	margin-bottom: 10px;

}


#cuadro0{

	padding-right: 0px;
}

#cuadro2{

	padding-left: 0px; 
	padding-right: 0px;
}


#cuadro4{

	padding-right:0px; 
	padding-left: 30px;
}
#cuadro3{
	padding-left: 0px;
}




@media (max-width: 767px){  		/*XS Pequeños*/
	#cuadro0{
		padding-left: 0px;
	}

	#cuadro2{
		padding-right: 0px!important;
	}
	

	#cuadro3{
		padding-left: 0px!important;
	    padding-right: 0px;

	}

	#cuadro4{
	 
		padding-right: 0px;
		padding-left: 0px;
	}

	}

@media (max-width: 991px){			/*SM Medianos*/
	#cuadro0{

		padding-right: 0px;
		padding-left: 0px;
	}
	#cuadro2{
		padding-right: 15px;
	}

	#cuadro3{

	   padding-left: 15px;
	   padding-right: 0px;
	}

	#cuadro4{
	 
		padding-left: 0px;
	    padding-right: 0px;
	}


	}

@media (min-width: 992px){       
#cuadro2{
		padding-right: 30px;
		padding-left: 0px;
	}


#cuadro3{

	   padding-left: 15px;
	   
	}

}


@media (min-width: 1200px){
	#cuadrox{
		padding-left: 30px!important;
		padding-right: 0px!important;
	}

	#cuadro0{
		padding-left: 0px;
		padding-right: 15px;
	}

	#cuadro2{
		padding-right: 15px;
		padding-left: 15px;
	}

	#cuadro3{

	   padding-left: 0px;
	   padding-right: 30px;
	   
	}
	

	}

